cmake-build-*
cmake-clang-*

.cache/
compile_commands.json
build/

data/
.idea/
.code/

*.swp

*.old

gmon.out
dumps/
timings/
dump.pkl
uftrace.data/
timings.*/

*.tar.gz

fsmining.PublishSettings
artifactCredientials.txt
artifact.zip
artifacts.zip

callgrind.out.*
profile.out

callgrinds/*

ours.patterns.zip

python/utils/__pycache__/
python/parser/__pycache__/
tmp
